* {
    padding: 0;
    margin: 0;
    font-family: "Sour Gummy", serif;
}

.navbar {
    background-image: url('/src/img/navbar_background_small2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playwrite AU SA", serif;
}